:root {
    --dark: #430100;
}

html{
    font-size:16px;
}

/* Utility Classes */

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.light {
    color: #fdf3e0;
}


.stack-lg > *+* {
    margin-top: 2rem;
}
.stack-md > *+* {
margin-top: 1rem;
}
.stack-sm > *+* {
margin-top: 0.5rem;
}

* {
    font-family: 'Rye', cursive;
    color:#430100; 
}

body {
    margin: 0;
    background-color: #fdf3e0;
}

/* font-family: 'Ewert', cursive; */
h1 {
    font-size: 6rem;
    color: white;
    margin-top: 50px;
}

h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
section {
    height: 100vh;
    color: white;
    padding-top: 50px;
    text-align: center;
}
/* Home */

#home {
    background-image: url(images/hero1.png);
    background-size: cover;
}

.heading-intro {
    font-size: 3rem;
    color: white;
    padding-top: 200px;
    opacity: 80%;
}

/* Nav section */

nav {
    display: flex;
    position: fixed;
    width: 98vw;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    /* padding-top: 5px; */
    z-index: 1;
}

nav a{
    color: white;
    text-decoration: none;
    padding-right: 30px; 
    font-family: 'Rye', cursive;
    font-size: 1.5rem;
}

nav a:focus{
    border: white;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav img{
    width: 150px;
    padding-left: 20px;
}


/* The team section */


.team-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));;
    grid-template-rows: 1fr 1fr;
    max-height: 80vh;
    max-width: 50rem;
    grid-gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}


.team-member {
    background-color: #430100;
    width: 15rem;
    border-radius: 0.8rem;
    padding-top: 1rem;
}

.team-grid-container img{
    max-width: 10.5rem;
    max-height: 15rem;
    overflow: hidden;
    border-radius: 0.8rem;
}


.member-name {
    margin-bottom: 5px;
}

.member-role {
    opacity: 80%;
    font-size: 14px;
    margin-top: 5px;
}

/* Contact page */

#enquiryMessage {
    display: none;
    color: #cc2424;
}

fieldset {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 530px){
    .team-grid-container {
        display: block;
        max-height: 80vh;
        width: 90vw;
        grid-gap: 1rem;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
    }
}
